<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>JSON Formatter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>
<body>

    <section class="section" id="app">
        <h1 class="title is-2">C# JSON Formatter to String</h1>
        <div class="columns is-multiline">
            <div class="column is-12">
                <textarea v-model="toParse" class="textarea" placeholder="JSON String" rows="10"></textarea>
            </div>

            <div class="column is-12">
                <textarea v-model="output" class="textarea" placeholder="Output" rows="10"></textarea>
            </div>
        </div>
    </section>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',

            data: {
                toParse: ''
            },

            computed:{
                output () {
                    let json = this.toParse.split('\n');


                    json = json.map(s => {
                        s = s.replace(/["]/g, '\\"');
                        s = s.replace(/(^)/g, '"');
                        s = s.replace(/($)/g, '" + ');
        
                        return s;
                    });

                    json = json.join('\n');

                    return json.substring(0, json.length -2);
                }
            }
        })
    </script>
</body>
</html>
